@page
@model Pomodoro.pages.AboutModel
@{
}
<h1 class="display-4 text-center">What is the Pomodoro technique?</h1>
<p></p>
<p></p>
<p></p>

<p class="container">Pomodoro-teknik går ut på att dela upp sina studie och/eller jobbsessioner i delar,
 och för att dela upp detta så använder man sig av en timer för att få de välbehövliga avbrott 
 man behöver för inlärning. Vanligtvis brukar till exempel dessa sessioner vid studier vara uppdelade i 25 minuters arbete
 (denna 25-minuters session kallas pomodoro), sedan 5 minuter paus. Om detta upprepas många gånger 
 i följd (vanligtvis fyra) så brukar man efter ett tag ta längre pauser (20-30 minuter). 
 Användningsområdet är brett och därför finns möjligheten att själv sätta vilka tidsintervaller man tycker är lämpligt för just den 
 aktiviteten man ägnar sig åt. Intervall-löpning blir till exempel jobbigt i 25 minuter.
 </p>