@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Doers Pomodoro App</h1>
</div>
<div class="text-center">

  <h3>Session Study:</h3>
  <h2>@Model.Message</h2>
  
</div>




<img src="Tomatoes_plain_and_sliced.jpg">


<div style="text-align=center">

<span style=center right align="right">
<button style="background-color:white; border-color:black;">Visa ToDo-listan</button>
</span>

<span style=float right align="right">
<button style="background-color:white; border-color:black;">Lägg till avklarad aktivitet</button>
</span>

<span style=float right align="right">
<button style="background-color:white; border-color:black;">Ta bort från ToDo-listan</button>
</span>

<span style=float right align="right">
<button style="background-color:white; border-color:black;">Visa avklarade aktiviteter</button>


</span>

</div>