@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="text-align:center">
    <h1 class="display-4">Welcome To The Doers Pomodoro App</h1>
</div>
<div class = "text-center">
<h1>Session Study</h1>
<h2>@Model.Message</h2>
</div>


<div id="buttons">
<div id="container2">

<span style=center>
<button id="button1">Show ToDo-list</button>
</span>

<span styles=center>
<button id="button2">Add to ToDo-list</button>
</span>

<span style="center">
<button id="button3">Remove from ToDo-list</button>
</span>


<span style=float right align="right">
<button id="button4">Add to finished activity</button>
</span>



<span style=float right align="right">
<button id="button5">Show finished activities</button>
</span>

</div>
