@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To The Doers Pomodoro App</h1>
</div>

        
    

<div id="pomodoro-app">
  <div id="container">
    <div id="timer">
      <div id="time">
        <span id="minutes">25</span>
        <span id="colon">:</span>
        <span id="seconds">00</span>
      </div>
      <div id="filler"></div>
    </div>

    <div id="buttons">
      <button id="work">Work</button>
      <button id="shortBreak">Short Break</button>
      <button id="longBreak">Long Break</button>
      <button id="stop">Stop</button>
    </div>
  </div>
</div>



<style>

</style>

<img src="C:\Users\HP1012\Desktop\YH\Objektorientering\PROJEKTARBETE SAMLAD MAPP\API Pomodoro\wwwroot\Tomatoes_plain_and_sliced.jpg">





<div style="text-align=center">

<span style=center right align="right">
<button style="background-color:white; border-color:black;">Visa ToDo-listan</button>
</span>

<span style=float right align="right">
<button style="background-color:white; border-color:black;">Lägg till avklarad aktivitet</button>
</span>

<span style=float right align="right">
<button style="background-color:white; border-color:black;">Ta bort från ToDo-listan</button>
</span>

<span style=float right align="right">
<button style="background-color:white; border-color:black;">Visa avklarade aktiviteter</button>


</span>

</div>

