@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="text-align:center">
    <h1 class="display-4">Welcome To The Doers Pomodoro App</h1>
</div>

        
  

<div id="pomodoro-app">
  <div id="container">
    <div id="timer">
      <div id="time">
        <span id="minutes">25</span>
        <span id="colon">:</span>
        <span id="seconds">00</span>
      </div>
      <div id="filler"></div>
    </div>

    <div id="buttons">
      <button id="work">Work</button>
      <button id="shortBreak">Short Break</button>
      <button id="longBreak">Long Break</button>
      <button id="stop">Stop</button>
    </div>
  </div>
</div>



<style>

</style>


<div style="text-align:center">

<span style=center right align="right">
<button style="background-color:white; border-color:black;">Show ToDo-list</button>
</span>

<span style=float right align="right">
<button style="background-color:white; border-color:black;">Add to ToDo-list</button>
</span>

<span style=float right align="right">
<button style="background-color:white; border-color:black;">Remove from ToDo-list</button>
</span>


<span style=float right align="right">
<button style="background-color:white; border-color:black;">Add to finished activity</button>
</span>



<span style=float right align="right">
<button style="background-color:white; border-color:black;">Show finsihed activities</button>
</span>

</div>


<div style="text-align:center">
<button style="background-color:white; border-color:black;">Show finsihed activities</button>
</div


