@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Doers Pomodoro App</h1>
</div>
<div class="text-center">

  <h3>Session Study:</h3>
  <h2>@Model.Message</h2>
  
</div>
