/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
#container{
  border:1px solid #333;
  border-radius :20px;
  width:400px;
  margin:20px auto;
  padding:20px;
  text-align:center;
  background : #333; /*https://codepen.io/rajdgreat007/pen/ZpZWbw*/
  position: relative;
  left: 0px;    /*Flyttar timer + ram /JS*/ /*Bytt från 300px till 0px*/ 
  color: #e5e5e5;
  display: inline-block;
}

#timer{ 
  color:#f00; 
  font-size:50px; 
  margin:10px auto;
  border : 5px solid red;
  border-radius:50%;
  width:200px;
  height:200px;
  overflow:hidden;
  position:relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

#time{
  margin-top:70px;
  z-index : 1;
  position:relative;
}

#filler{
  background : #ddffcc;
  height: 0px;
  width: 200px;
  position:absolute;
  bottom:0;
}

#buttons button { 
  background:#4da6ff; 
  border:none; 
  color:black; 
  cursor:pointer; 
  padding:5px; 
  widows: 120px;; 
  margin:10px auto;
  font-size:14px;
  height : 50px;
  border-radius : 50px;
  display: inline-block;

}

#buttons button#shortBreak{
  background : #0c0;
}

#buttons button#longBreak{
  background : #080;
}

#buttons button#stop{
  background : #f00;
}


